* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: Pretendard;
  font-size: 100%;
  font-style: normal;
  line-height: normal;
  background: var(--Linkbrary-bg, #F0F6FF);
}

.login {
  display: flex;
  padding: 14.875rem 0 15.75rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 400px;
}

.logo svg {
  width: 210.583px;
  height: 38px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.check-user {
  color: var(--black, #000);
  font-weight: 400;
  line-height: 24px;
}

.check-user a {
  font-weight: 600;
}

/* 폼 작성 부분 */
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.form input {
  display: flex;
  width: 100%;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
}

.form input:focus {
  border: 1px solid var(--Linkbrary-primary-color, #6D6AFE);
  outline: none;
}

.loginBt {
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  width: 100%;
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: var(--Grey-Light, #F5F5F5);
  font-size: 18px;
  font-weight: 600;
}

/* 하단 부분 */
.another-login {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);
}

@media screen and (max-width:767px) {
  .login {
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
  }

  .logo-section,
  .another-login {
    width: 100%;
  }
}